<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.djdk_school">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="다정다감학습터"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Group_qr_reader"></activity>
        <activity android:name=".make_templet_select" />
        <activity android:name=".Settings" />
        <activity android:name=".Group_qr" />
        <activity android:name=".GroupCreate" />
        <activity android:name=".Guidebook" />
        <activity android:name=".ButtonSelect" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/bg_name" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>